html {
    background: url(../img/other-background.png) no-repeat center fixed;
    background-size: cover;
    text-align: center;
    font-family: 'sh_pinscherregular';
    overflow: hidden;
}

body {
    padding: 0 10%;
}

#links-div {
    background: rgb(42, 84, 177);
    width: 220px;
    border-radius: 10px;
    margin: auto;
}

.links {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin: 10px;
}

#about-link {
    text-decoration: underline red;
}

#not-links-div {
    background: rgb(255, 255, 255, 0.6);
    border-radius: 25px;
    margin: auto;
    padding: 2% 10%;
    margin-top: 1%;
}

#about-title{
    background: darkslategrey;
    border-radius: 25px;
    width: 300px;
    margin: auto;
    color: white;
    font-weight: normal;
}

hr {
    width: 310px;
    border-color: darkslategrey;
    margin-top: 20px;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 2%;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 18px;
    text-align: left;
}

img {
    width: 200px;
}

#pickaxes-img {
    width: 100%;
}

#axes-img {
    width: 60%;
}

#wall-of-flesh-img {
    width: 150px;
}

#plantera-img {
    width: 170px;
}
