html {
    background: url(../img/home-background.jpg) no-repeat center fixed;
    background-size: cover;
    text-align: center;
    font-family: 'sh_pinscherregular';
}

a {
    color: white;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
}

#home-link {
    text-decoration: underline red;
}

img {
    margin-top: 371px;
    margin-left: 13px;
    width: 20ch;
    cursor: pointer;
    clip-path: circle(45%);
}

p {
    color: white;
}