body {
    background: url(../img/home-background.jpg) center fixed no-repeat rgb(42, 84, 177);
    background-size: 100%;
    text-align: center;
    font-family: 'sh_pinscherregular';
}

::-webkit-scrollbar {
    display: none;
}

div {
    background: rgb(42, 84, 177);
    width: 220px;
    border-radius: 10px;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
}

#home-link {
    text-decoration: underline red;
}

img {
    cursor: pointer;
    clip-path: circle(50%);
    position: absolute;
    /* background: rgb(255, 255, 255, 0.5); */
}

#quote {
    color: white;
    position: absolute;
}
