html {
    background: url(../img/home-background.jpg) fixed center no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: 'sh_pinscherregular';
}

a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 25px;
}

#home-link {
    text-decoration: underline red;
}

p {
    color: white;
    position: absolute;
    margin: 20.1% 0% 0% 29.5%;
    width: 40%;
    font-size: 1.27vw;
}

img {
    cursor: pointer;
    clip-path: circle(20%);
    width: 209.5px;
    margin: 200px 0 0 14px;
    background: rgb(255, 255, 255, 0.5);
}

div {
    background: rgb(24, 93, 241);
    width: 220px;
    border-radius: 10px;
    margin: auto;
}