html {
    background: url(../img/home-background.jpg) no-repeat center fixed;
    background-size: cover;
    text-align: center;
    font-family: 'sh_pinscherregular';
}

a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 20px;
}

#home-link {
    text-decoration: underline red;
}

p {
    color: white;
    position: absolute;
    margin: 20.1% 0% 0% 29.5%;
    width: 40%;
}

img {
    cursor: pointer;
    clip-path: circle(20%);
    width: 26%;
    margin: 24% 0% 0% 1%;
}